#nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    background-color: rgb(4, 205, 255);

}

#nav li{
    margin: 5px;
    padding: 10px 15px;

}

#nav li:hover{
    background-color: aquamarine;
}

#nav a {
    text-decoration: none;
}

/* Modelo de caja */
.padre{
    background-color: aqua;
    padding: 20px;
    border: 10px;
}

.hijo{
    background-color: blueviolet ;
    padding: 100px;
    border: 10px;
}
/* Componentes */
#contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: chocolate;
}
.card{
   width: 200px;
   background-color: burlywood;
   border-radius: 10px;
   text-align: center;
   box-shadow: 0 4px 8px black;
}

.card img{
  width: 100%;
  border-radius: 8px;
  
}
.card p{
  color: greenyellow;
  background-color: black;
}